[2020-05-09 16:47] SamuelNLP opened #2 "It cannot parse files where we have parenthesis in the imports"
Example from one of my projects:

[code]

I am getting:

[2020-05-09 23:21] HadiZakiAlQattan commented on #2
That's because of the limitation of Regex (The project based on regex), this issue will be solved after using the Python AST approach.

I'll work on it as soon as possible, Thank you for the feedback.

[2020-05-09 23:22] SamuelNLP commented on #2
Nice, thanks for the module. :)

[2020-05-10 02:02] #2 closed

[2020-10-05 16:17] asottile opened #17 "Security Disclosure"
Where do I report a security bug?

[2020-10-05 16:36] hadialqattan commented on #17
Unfortunately, I forgot it, I'm gonna include a security reporting policy section in the docs.

Thanks a lot!

[2020-10-05 16:43] asottile commented on #17
no I mean I have a security bug, is there somewhere I can reach out to you about it

[2020-10-05 16:49] hadialqattan commented on #17
If it's a high risk vulnerability, please report it to <alqattanhadizaki@gmail.com>, otherwise, kindly open another issue.

[2020-10-05 17:30] hadialqattan commented on #17
@asottile I'm waiting for your report, thanks again.

[2020-10-06 14:24] #17 closed, assigned to hadialqattan

[2020-10-06 15:01] hadialqattan opened #19 "[SECURITY] C modules import star expanding related vulnerability."
C modules import star expanding related vulnerability.

**Environment:**

- Python Version: Python 3.8 (affects all versions).
- Pycln Version: v0.0.1-alpha.2
- OS Type: Linux (affects all platforms)

[2020-10-06 20:34] #19 closed, assigned to hadialqattan

[2020-10-07 16:19] hadialqattan opened #26 "Support cast case."
`xxx` should not be considered as unused:
[code]
---
Hints:
* related to `visit_Call` on `pycln/utils/scan.py`.

[2020-10-07 16:23] hadialqattan opened #27 "[BUG] Support implicit imports from sub-packages."
`os` should not be considered as unused:
[code]
---
Hints:
* related to `has_used` on `utils/refactor.py`.
* `import os.path` should be refactored to `import os` (optional).

[2020-10-07 16:27] hadialqattan opened #28 "Support __all__ list concatenation."
These imports should be considered as used:
[code]

[2020-10-07 16:29] hadialqattan opened #29 "Support __all__ list operations (`append` & `extend`)"
All the imports bellow should be considered as used.
---
`append`:
[code]
---
`extend`:
[code]

[2020-10-07 16:32] hadialqattan opened #30 "Support importlib.import_module case."
[code]
---
Current behavior, nothing would change:
[code]
---
Expected behavior, remove `os`:
[code]

[2020-10-07 16:36] hadialqattan opened #32 "[BUG] Support semi string type hints."
example.py
[code]
---
Current behavior, `ast.Import` is considered as unused:
[code]
---
Expected behavior, nothing should change:
[code]

[2020-10-07 16:49] hadialqattan opened #33 "Move to beta."
Fix: #26, #27, #32.

[2020-10-11 19:45] #26 closed, assigned to hadialqattan

[2020-10-13 20:42] #32 closed, assigned to hadialqattan

[2020-10-14 18:55] The-Compiler opened #38 "[BUG] "Permission denied" errors when project is installed in editable mode"
**Describe the bug** When I run `pycln` over my project, all I get is 16 lines of errors.

**To Reproduce** Steps to reproduce the behavior:

[code]
3. Error traceback or unexpected output (if present):

[code]

**Environment (please complete the following informations):**

- Python Version: Python 3.8
- Pycln Version: 0.0.1a3
- OS Type: Archlinux

**Additional context**

Might be reproducible wit

[2020-10-14 19:27] #27 closed, assigned to nobody

[2020-10-14 19:59] hadialqattan commented on #38
- That has occurred due to the dynamic analysis of the side effects analyzer.
- Actually, there were no uncleanable files, these files failed to be dynamically analyzed.
- The best way to prevent that is to use `-a, --all` flag which will emit the side effects analyzer!
see: https://hadialqattan.github.io/pycln/#/README?id=-a-all-flag
- In the feature, we're gonna have no dynamic analysis and I'm

[2020-10-14 19:59] #38 closed, assigned to nobody

[2020-10-14 20:27] #33 closed, assigned to nobody

[2020-12-30 21:56] zealotous opened #41 "[BUG] Spaces inside Literal type annotations break pycln"
**Describe the bug** Spaces inside Literal type annotations break pycln.

**To Reproduce** Steps to reproduce the behaviour:

1. Take this code snippet:

[code]

2. Run this Pycln command:
[code]

**Expected behavior**:

1.  `pycln` successfully processes the file.
2.  Expected output (if present):
[code]

**Environment (please complete the following information):**

- Python Version: Python 3.6.8

[2020-12-31 11:04] zealotous commented on #41
https://github.com/hadialqattan/pycln/blob/master/pycln/utils/scan.py#L201-L217
Here Literal[" "] is parsed by ast.parse

The raw idea for a fix https://github.com/zealotous/pycln/blob/literal-w-spaces-fix/pycln/utils/scan.py#L200-L223

[2020-12-31 11:50] hadialqattan commented on #41
Thanks a lot for being here and showing your support...❤️

Unfortunately, that's an uncovered bug!

Kindly, plz open a PR with your fix, I'm gonna help you to write the proper test cases!

[2021-01-01 08:10] #41 closed, assigned to hadialqattan

[2021-03-11 14:16] BoYanZh opened #47 "[FEATURE] Keep the original line break"
**Is your feature request related to a problem? Please describe.**

I'm always frustrated when I find that after running this tool, the line break are all replaced by CRLF on my windows PC.

**Describe the solution you'd like**

Keep the original format of line break.

[2021-03-11 21:06] hadialqattan commented on #47
@BoYanZh Hi, I'm gonna work on that as soon as possible, thanks for being here!

[2021-03-11 21:12] hadialqattan commented on #47
https://github.com/hadialqattan/pycln/blob/db98579c0380b333441a6ca3b6ff8c3f6f7b9af0/pycln/utils/refactor.py#L113
After investigating, the problem is `splitlines` in Python uses `CRLF` for WindowsNT and `LF` for Unix-based systems by default!

[2021-03-12 20:06] #47 closed, assigned to nobody

[2021-03-12 20:28] hadialqattan commented on #47
@BoYanZh Please checkout Pycln beta.3 release!

[2021-03-13 06:53] BoYanZh commented on #47
Thanks! I really appreciate that.

[2021-04-26 20:38] hadialqattan opened #52 "[BUG] `--check` flag always exits with 0 status code!"
Pycln always exits with 0 status code!

**Environment (please complete the following informations):**

- Python Version: Python 3.8
- Pycln Version: v0.0.1
- OS Type: Linux

[2021-04-26 22:34] #52 closed, assigned to hadialqattan

[2021-06-29 13:51] matejbasic opened #54 "[BUG] UnicodeEncodeError on line 155 (cli.py) when running on Windows"
Hi, colleague of my mine was unable to run pycln as a pre-commit hook on his Windows machine.
I have tried it myself and it fails with the same error message:

[code]

Problematic line:
[code]

I have tried to fix it and encoding it to UTF-8 seems to help:
[code]

I will prepare PR for this.

**Environment:**

- Python Version: Python 3.9
- Pycln Version: v0.0.2
- OS Type: Windows 10

[2021-06-30 01:16] hadialqattan commented on #54
@matejbasic I've created another PR to fix all  non-utf8 terminals issues by reconfiguring the `sys.stdout`&`sys.stderr` encoding to `utf-8`, so, kindly, please test branch `i54-2` on the same environment where the issue has appeared, and please let me know if everything is fine.

Thanks for your help!

[2021-06-30 10:15] matejbasic commented on #54
Great, thank you @hadialqattan for the quick response. I have tested it on Windows and it seems to work fine now, my colleague also confirmed this.

Thank you for this great plugin!

[2021-06-30 14:12] hadialqattan commented on #54
I'm happy to hear that from you.

BTW, today I'm gonna release a new version of Pycln which includes the fix (continue working on my PR ~> merge ~> release).

[2021-06-30 14:31] #54 closed, assigned to nobody

[2021-07-06 20:30] jensens opened #58 "[BUG] Invalid PIP-526 type comments make Pycln crashes with an UnparsableFile error"
Error on comment line.

**To Reproduce** Steps to reproduce the behavior:

1. Take this code snippet:

[code]

    Code reduced from https://github.com/plone/Products.CMFPlone/blob/58352686898521dd9da24d0239fd9848d04a02c5/Products/CMFPlone/PloneTool.py#L538-L567

2. Run this Pycln command:
[code]
3. Error traceback or unexpected output (if present):

[code]

4. Unexpected fixed code (if present):

[2021-07-06 21:38] hadialqattan commented on #58
Hi @jensens,
⠀
the real problem is `Pycln` crashes when it meets invalid `PIP-526` type comments as shown in your code (I know you're not using `PIP-526` but the AST parser is considering any `type: ...` as a `PIP-526` node),
⠀
thanks for the feedback.

---
PEP 526 -- Syntax for Variable Annotations:
- https://www.python.org/dev/peps/pep-0526/
- https://docs.python.org/3.8/library/ast.html#ast.par

[2021-07-06 21:52] #58 closed, assigned to hadialqattan

[2021-07-06 21:56] hadialqattan commented on #58
This bug has been fixed #59, the fix is available at the `master` branch and it would be added in the next release (`0.0.4`).

[2021-07-27 22:28] mohit-rh opened #61 "[FEATURE] catch and fix imported but unused lint errors"
When we import something with this type of syntax

[code]

pre-commit doesnt catch it (and hence doesnt fix it). But it gets caught by the linter and fails

I would like pre-commit to do it before linter can fail

[2021-07-28 11:11] hadialqattan commented on #61
Hi, I'm happy to see you here!

Kindly, provide me your `.pre-commit-config.yaml` file.

[2021-07-28 11:12] hadialqattan commented on #61
Also, did you use [--all](https://hadialqattan.github.io/pycln/#/README?id=-a-all-flag) flag?

[2021-07-28 11:17] hadialqattan commented on #61
I tried `pycln` with this code snippet:
[code]
using this command `pycln file.py --check --all` and it did work properly as shown bellow:
[code]

[2021-07-28 16:40] mohit-rh commented on #61
Oh, I wasnt using the `--all` flag. That fixed it. Thanks

On Wed, Jul 28, 2021 at 4:17 AM Hadi Alqattan ***@***.***>
wrote:

--

<http://www.robinhood.com/>

Mohit Bhura

Senior Backend Engineer- Brokerage

Menlo Park, CA

Don't copy, share, or use this email without permission. If you received it
by accident, please let us know and then delete it right away.

[2021-07-29 04:36] hadialqattan commented on #61
My pleasure 😄

[2021-07-29 04:36] #61 closed, assigned to nobody

[2021-08-02 08:03] RoyalTS opened #62 "[FEATURE] Global skips"
Is there a way to specify seemingly unneeded imports globally across all files? If not, could this be added, e.g. as a global config option?

[2021-08-03 14:34] hadialqattan commented on #62
Hi @RoyalTS, I'm happy to see you around, anyway, to ensure that we're on the same page, I'm gonna give an example, and kindly let me know if I got you right:

You're looking for something more elegant than doing:
a.py:
[code]

b.py:
[code]

Like having a config option to skip some modules:
pyproject.toml:
[code]

[2021-08-03 18:08] #29 closed, assigned to nobody

[2021-08-03 18:59] #28 closed, assigned to nobody

[2021-08-04 17:50] hexiro opened #66 "[FEATURE] vscode / pycharm extension"
**Is your feature request related to a problem?**
Use of this project isn't always convenient/ visual for the user.

**Describe the solution you'd like**
It would be nice to have an extension for vs code / pycharm. I also believe this will get more eyes on the project.

**Describe alternatives you've considered**
using version control integration would work great, but in my opinion, an extension w

[2021-08-05 07:20] hadialqattan commented on #66
Hi @Hexiro, I'm happy to see you around, anyway, it's a good idea, I may create a separate repository for a VSCode extension very soon.

[2021-08-06 18:32] hexiro commented on #66
sounds like a good idea to me. good luck! 😄

[2021-08-07 16:10] hadialqattan commented on #66
[pycln-vscode](https://github.com/hadialqattan/pycln-vscode) (WIP)

[2021-08-07 16:10] #66 closed, assigned to nobody

[2021-08-14 09:32] #30 closed, assigned to nobody

[2021-08-14 09:41] hadialqattan commented on #62
@RoyalTS Kindly, I'm waiting for your response.

[2021-09-02 02:16] GameDungeon commented on #62
I would like that. It would allow me to add it to my project. I currently have a constants file that expand_stars keeps unpacking. It unpacks the whole all file instead of just what it needs.

[2021-09-02 02:34] GameDungeon opened #71 "[BUG] Recursion Errors"
Every time I run it it gets stuck in this loop until it gets a precision error:

    self.visit(item)
  File "python39\lib\ast.py", line 407, in visit
    return visitor(node)
  \pycln\utils\scan.py", line 104, in wrapper
    func(self, *args, **kwargs)
  \pycln\utils\scan.py", line 639, in visit_ImportFrom
    node = cast(ast.ImportFrom, expand_import_star(node, self._path))
  \pycln\utils\scan.p

[2021-09-06 00:03] JohnScolaro opened #72 "[BUG] Breaking on 'null' package."
I don't know how python's modules work too well, but it seems that the 'package' can be None, which breaks things.

**To Reproduce**:

1. Create a directory with the following files:

[code]
Where the `__init__.py` file in the utils directory contains the following code:

[code]

the text.txt file can contain any text,

the `__init__.py` file in the src/ directory contains the following code:

[co

[2021-09-06 07:45] Askir opened #73 "Would it be possible to update pathspec for compatibility with the latest black"
**Describe the issue**
When installing pycln via pipenv the pathspec version clashes with blacks requirements:
[code]

 I know pipenv sucks and we should use poetry but I haven't managed to convince my team of that yet 😅
 Also I think this is a dependency problem in general, isn't it?

**Environment (please complete the following informations):**

- Python Version: 3.9.5
- Pycln Version: 1.0.3
- O

[2021-09-10 16:59] hadialqattan commented on #73
Hi, I'm happy to see you around...of course, I'm gonna update PathSpec to 0.9.0 now.

[2021-09-10 17:15] #73 closed, assigned to nobody

[2021-09-10 18:11] hadialqattan commented on #71
Hi @GameDungeon, I'm happy to see you around, I did fix the issue, my fix will be applied in the next release (v1.0.4), thanks for the feedback.

[2021-09-10 18:12] #71 closed, assigned to nobody

[2021-09-29 12:20] #72 closed, assigned to hadialqattan

[2021-10-02 21:28] GameDungeon opened #77 "[BUG] Fighting my Trailing Commas"
My projects style use trailing commas.

Due to this pycln does this a lot:
[code]

Could I have an option that stops this.

[2021-10-04 17:54] hadialqattan commented on #77
Hi @GameDungeon,

This option is out of Pycln scope. I believe you should run a formatter (e.g. Black) after running Pycln.

[2021-10-04 17:56] hadialqattan commented on #77
Please feel free to comment even after closing the issue...Happy to see you around, thank you.

[2021-10-04 22:09] GameDungeon commented on #77
Pycln is making the changes to my file in every import with a trailing comma. I want it to stop that. I don't understand how this is out of Pycln's scope.

[2021-10-09 03:23] TylerYep opened #78 "Add Python 3.10 Support"
pycln is currently not installable in Python 3.10 via pip:

[code]

[2021-10-12 09:16] perfa opened #79 "[BUG] using `-a` crashes when having removed multi-line imports"
**Description:** Running pycln with the `-a` flag crashes with `SyntaxError` when it has cleaned up a multiline import

**To Reproduce:**

1. Take this code snippet:
`pycln_test.py`

[code]

2. Run this Pycln command:

[code]
3. Error traceback or unexpected output (if present):

[code]

4. Unexpected fixed code:

[code]

**Expected behavior**:

1.  Description: The could to run to completion with

[2021-10-12 16:55] perfa opened #80 "[BUG] pycln ignores NOQA on imports with `-a`"
**Description:** Running pycln with the `-a`, lines with `# NOQA` are removed

**To Reproduce** Steps to reproduce the behavior:

1. Take this code snippet:

[code]

2. Run this Pycln command:

[code]

3. Error traceback or unexpected output (if present):

[code]

4. Unexpected fixed code (if present):

[code]

**Expected behavior**:

Lines marked NOQA should remain (at least on the lowest aggress

[2021-10-15 18:46] hadialqattan commented on #78
Thanks for notifying me. WIP.

[2021-11-02 01:35] NorthIsUp opened #83 "[BUG] pycln failing in pre-commit"
**Describe the bug** A clear and concise description of what the bug is.
Pycln is failing due to a missing dependency from Typer

**To Reproduce** Steps to reproduce the behavior:

1. Take this code snippet:

[code]

2. Run this Pycln command:
[code]
3. Error traceback or unexpected output (if present):

[code]

**Environment (please complete the following informations):**

- Python Version: 3.9
-

[2021-11-08 20:23] #78 closed, assigned to hadialqattan

[2021-11-10 14:01] hadialqattan commented on #83
Hi, it seems like there's a dependency conflict between `typer` and `click 8` [see](https://github.com/NCAR/jupyter-forward/issues/91). I'll upgrade typer to 0.4.0.

[2021-11-10 14:28] #83 closed, assigned to hadialqattan

[2021-11-10 14:31] hadialqattan commented on #83
@NorthIsUp Thanks a lot for being around with this feedback.

[2021-11-10 15:01] hadialqattan commented on #77
@GameDungeon Hi again, I apologize for closing this issue without fixing it. I misunderstood you.

\+ I'm working on a fix right now.

\+ Thank you for the feedback. I'm happy to see you around.

[2021-11-10 16:56] #77 closed, assigned to hadialqattan

[2021-11-12 12:25] #79 closed, assigned to hadialqattan

[2021-11-12 12:30] hadialqattan commented on #79
Hi @perfa, this issue has been fixed. The fix will take effect in the next release (soon). Thank you for the feedback. I'm happy to see you around.

[2021-11-12 19:04] #80 closed, assigned to hadialqattan

[2021-11-12 19:11] hadialqattan commented on #80
Hi again @perfa, this issue has been fixed. The fix will take effect in the next release (soon). Thank you for the feedback. I'm happy to see you around.

[2021-11-12 19:58] hadialqattan commented on #78
Hello @TylerYep, @kreczko, @dbarbier, @fteicht, and @henryiii. I'm sorry for being too late. I was too busy in the last two months. In this message, I want to announce that Python3.10 has been supported in today's release ([v1.1.0](https://github.com/hadialqattan/pycln/releases/tag/v1.1.0)).

[2021-12-15 09:06] pmourlanne opened #89 "[TYPO] CLI logs' grammar correction"
**Describe the bug**

Here's a sample output I get:
[code]

For each removed import I expect to read "1 import was removed" or "1 import has been removed", not "1 import has removed".
In the totals (for each file and overall), the plural form of the verb should be handled. I expect to read "2 imports were removed" or "2 imports have been removed", not "2 imports has removed".

**To Reproduce**

Ev

[2021-12-15 13:19] hadialqattan commented on #89
Hi @pmourlanne, I'm happy to see you around...

Regarding "has/has been/was": Yeah you're right, it should be either "was removed" or "has been removed". Actually, "has been removed" is better than "was removed" coz "has" implies that the imports are no longer exist, but I put "has removed" instead coz "has been removed" is too long.

Regarding singular vs plural: I was too lazy to work on the lin

[2021-12-15 13:26] pmourlanne commented on #89
Happy to help :) I should be done with my PR soon :crossed_fingers:

[2021-12-15 15:03] pmourlanne opened #91 "[BUG] Issue when doing `import *` from an empty file"
**Describe the bug**

`pycln` behaves weirdly when you do a star import of an empty file. I agree it's an edge case, and what am I doing importing from an empty file anyway?
Still, the behaviour is unexpected, and maybe there's an actual issue behind it all?

**To Reproduce**

1. Create a python package with three files:

`__init__.py`:
[code]

`api.py`:
[code]

`admin.py`:
[code]

2. Run this Pyc

[2021-12-15 19:07] #89 closed, assigned to pmourlanne

[2021-12-15 19:22] hadialqattan commented on #91
Hi, I see your point. If you don't mind, I'll assign this issue to you if you want to work on it. Could I?

\+ Thanks again for the support!

[2021-12-15 19:43] pmourlanne commented on #91
@hadialqattan Sure 👍

[2021-12-22 18:20] GameDungeon commented on #62
Could I bump this? This is currently the deal breaker, but I would really like to use this :)

[2021-12-27 15:58] #91 closed, assigned to pmourlanne

[2022-02-01 10:47] g0di opened #94 "Path argument is ignored when passing a config file"
Hello,

Running `pycln` with only a config file as CLI options seems to ignore the `path` specifiied in the provided config file

**To reproduce**
According to the following `pyproject.toml` file
[code]

Running following command
[code]
Produce the following output
[code]

While I expected `pycln` to run over `/user_management_rest_api/` folder specified in provided config file

**Environment**

-

[2022-02-01 20:47] hadialqattan commented on #94
Hi @g0di, after doing some investigation I found that this problem is related to `Config` class:
https://github.com/hadialqattan/pycln/blob/9ed66c98ba1b9d64489d7e388755877b48662997/pycln/utils/config.py#L26-L39

(on `Config` we have `"paths"` attr while in the config file(s) we use `"path"`)

also, I used `hasattr` for validating the config keys which returns `False` when the key is `"path"` (so `

[2022-02-02 08:02] g0di commented on #94
Thank you for your feedback ;)

[2022-02-13 15:10] #94 closed, assigned to hadialqattan

[2022-02-14 14:29] denizdogan opened #96 "[BUG] Unused imports not removed"
**Describe the bug** A clear and concise description of what the bug is.

Pycln doesn't remove two unused imports

**To Reproduce** Steps to reproduce the behavior:

1. Take this code snippet:

[code]

   In the above, MaxValueValidator, MinValueValidator, and TimeField are all unused.

2. Run this Pycln command:
[code]
3. Error traceback or unexpected output (if present):

[code]

**Expected beha

[2022-02-14 16:16] hadialqattan commented on #96
Hi @denizdogan , did you try to run Pycln with the [-a/--all](https://hadialqattan.github.io/pycln/#/?id=-a-all-flag) flag?

Please let me know if that helps so I can close this issue.

[2022-02-15 10:07] hadialqattan commented on #96
Hi again @denizdogan, I did the experiment myself and everything went as expected with the `-a/--all` flag:

[code]

---
so now I'm gonna close this issue, if that didn't help you, plz feel free to reopen this issue again.

\+ Thanks a lot for being around.

[2022-02-15 10:07] #96 closed, assigned to nobody

[2022-02-18 08:08] hadialqattan commented on #62
Hi, is anybody still interested in this feature?

If any, kindly hit the👍🏻reaction.

[2022-02-18 08:13] hadialqattan commented on #62
Sorry for being too late, in case you still want to work on that, plz let me know to assign this issue to you and help you to finalize your PR.

[2022-02-24 12:27] GameDungeon commented on #62
Your release reminded me of this project. I might spend some time seeing if I can get it to work for my project. Then I'll give you the working code in a pull :)

[2022-02-24 13:22] hadialqattan commented on #62
I'm excited to see your PR...please feel free to ask for any help if needed.

[2022-02-24 17:43] BradLucky opened #99 "`pass` statements are removed causing syntax errors"
**Describe the bug** A clear and concise description of what the bug is.
Under certain circumstances, `pycln` will remove `pass` statements, which can lead to syntax errors in code. As shown in the code snippet below, it has something to do with nested `if` statements and that conclude with `else: pass`.

I have trimmed the code down as much as possible to narrow in on the situations where this oc

[2022-02-25 02:51] BradLucky commented on #99
I found another situation where this happens, and it's an even simpler case. If a new `Exception` class is defined with a docstring and only `pass` in the body (which is a very common use case), `pycln` will remove the `pass` from the class.

Input file:
[code]

Then run `pycln test_error.py` and the file now looks like this:
[code]

It isn't strictly a syntax error in this case, but it's still a

[2022-02-25 10:42] hadialqattan commented on #99
Hi @BradLucky, I see your point, I've fixed this bug via PR #100.

Thanks a lot for being around and supporting the project.

[2022-02-25 10:51] #99 closed, assigned to hadialqattan

[2022-02-26 09:18] hadialqattan opened #107 "[FEATURE] extend exclude cli option"
Assume we have a directory called `potato` containing a critical code that we don't want any QA tool like `pycln` to touch it, then the only option is to use `--exclude`, which overrides the default `EXCLUDE_REGEX`.

What if we want to add this exclusion without overriding the default exclusions?

For now, the only way to do it is by rewriting the entire exclude regex with the additional exclusion

[2022-02-26 10:40] #107 closed, assigned to nobody

[2022-02-26 18:40] hadialqattan opened #109 "[BUG] string type annotation containing a constant like type"
example.py
[code]
---
Current behavior, `ast.Import` is considered as unused:
[code]
---
Expected behavior, nothing should be changed:
[code]

[2022-02-26 19:23] #109 closed, assigned to nobody

[2022-03-07 06:20] sunmy2019 opened #112 "[BUG] incorrectly removing trailing `pass`."
**To Reproduce** Steps to reproduce the behavior:

1. Take this code snippet:

[code]

2. Run this Pycln command:
[code]

3. Unexpected fixed code (if present):

[code]

**Expected behavior**:

The generated python code should be legal.

**Environment (please complete the following informations):**

- Python Version: python3.8
- Pycln Version: pycln, version 1.1.0
- OS Type: Linux

[2022-03-07 06:21] sunmy2019 commented on #112
Duplicated https://github.com/hadialqattan/pycln/issues/99

[2022-03-07 06:21] #112 closed, assigned to nobody

[2022-03-07 14:40] hadialqattan commented on #112
This already has been solved in v1.2.2

[2022-03-22 22:59] sondrelg opened #115 "[BUG] Match statement syntax not supported"
Hi,

Thanks for creating this project. It's been super helpful 👏

Ran into an issue with match statement syntax on the last version (1.2.5), running the project as a pre-commit hook. Looks like match statement support was added a while ago, so not sure if I'm just tired or there's an actual bug in the hook 🙃

### Reproducible example

Python code
[code]

Pre-commit config
[code]

Output
[code]

[2022-03-23 06:41] hadialqattan commented on #115
Hi @sondrelg, I checked that out myself, and I found that there was no problem in Pycln regarding the MatchAs statement support, so I tried to get the same error that you've encountered by running Pycln using a Python version < 3.10 (I tried 3.8), luckily, I've encountered the same error, therefore, I believe your problem was that you were running Pycln using a Python version < 3.10.

BTW, Pycln u

[2022-03-23 06:56] hadialqattan commented on #115
Actually, I came to the idea of showing Python version when using `--version` flag, so instead of outputting only Pycln version:
[code]
we can also show Python version, for example:
[code]
Do you have any thoughts about this idea?

[2022-03-23 07:01] hadialqattan commented on #115
\+ please let me know if I'm right/wrong so I can fix/close this issue. (initially, I'll mark it as invalid).

[2022-03-23 09:12] sondrelg commented on #115
Thanks for the quick response. You're probably right, while my venv is 3.10.2, I'm guessing my pre-commit venv(s) are not. I'll reset and try again when I get a chance in a few hours. Closing in the meantime and will update when I can 👍

[2022-03-23 09:12] #115 closed, assigned to nobody

[2022-03-23 09:24] sondrelg commented on #115
Yep after running `pre-commit clean` and recreating the pre-commit environment things work well 👍 Thanks again!

[2022-03-28 20:34] DiddiLeija opened #116 "Incompatibility with click-8.1.0 (typer-0.4.0)"
**Describe the bug**

At https://github.com/wntrblm/nox/pull/590, we tried to adress a Black issue with a breaking Click update. However, we noticed that also pycln was affected.

At least, I can reproduce this with GitHub Actions.

**To Reproduce**

Steps to reproduce the behavior:

1. Run pycln anywhere, with the latest `click` version.
2. See the error:

[code]

**Expected behavior**:

1.  Desc

[2022-03-28 20:46] henryiii commented on #116
This is https://github.com/tiangolo/typer/issues/377 - as long as they don't bump the version too high when fixing it, it will get fixed here automatically.

This is a great reason to avoid putting upper caps on things - it didn't protect against this, but it might protect against a fix! This would not have been caught (minor release, rather than major, and in a dependency, not this package), so a

[2022-03-28 20:47] DiddiLeija commented on #116
Thanks for explaining this here @henryiii! Indeed, I've just discovered this was an issue with typer.

[2022-03-28 22:29] mecampbellsoup commented on #116
Also experienced this, glad to have found this ticket!

Should we just do e.g. `poetry add typer` and/or `poetry add click` to pin the versions used? Or is https://github.com/wntrblm/nox/pull/590/files a better solution?

[2022-03-28 22:33] henryiii commented on #116
If you are using a lock file, it should still have the old versions if you don’t poetry update. All deps are pinned in a lock file.

[2022-03-28 22:36] mecampbellsoup commented on #116
[code]
So I'm assuming I could either specify the version of `click` as in https://github.com/wntrblm/nox/pull/590/files, or I could lock `click` in my lockfile to `8.0.4`.

[2022-03-28 22:36] henryiii commented on #116
And yes, `poetry add “click<8.1” —dev` is a _short term_ solution to allow poetry update.

[2022-03-28 22:48] henryiii commented on #116
I’d generally not add development dependencies in a shared environment (like a poetry environment). There no reason you should require click <8.1 because you use an _application_ that requires it. Pre-commit is one way to avoid that. Nox/tox is another.

[2022-03-29 14:59] mecampbellsoup commented on #116
I think I follow what you're saying @henryiii - I ended up just locking the `click` dependency via the `pre-commit` config file:

[code]

[2022-03-29 15:02] henryiii commented on #116
Yep, that's what I'm doing. I have not updated it in the Developer Guidelines yet (https://scikit-hep.org/developer/style#pycln), but I have updated the matching cookie cutter (https://github.com/scikit-hep/cookie/blob/12c4755988652134eeadf82b0b562d02fdcfd7e8/%7B%7Bcookiecutter.project_name%7D%7D/.pre-commit-config.yaml#L63-L69). I'm assuming it will be fixed quickly, but if not, I'll update the d

[2022-03-30 20:32] henryiii commented on #116
This was fixed in typer 0.4.1, so as long as you aren't getting an old cached version in pre-commit, this should be working again! https://github.com/tiangolo/typer/pull/380

[2022-03-30 20:35] tiangolo commented on #116
I just released Typer `0.4.1` that should handle this. :rocket: :nerd_face:

[2022-03-30 20:45] DiddiLeija commented on #116
Yup. We can close this for now, I think [^1]. Thank you all!

[^1]: Maybe pinning this issue could help people that faced this issue (and avoid extra tickets), but I'll leave it to the maintainers ;)

[2022-03-30 20:45] #116 closed, assigned to nobody

[2022-03-31 13:32] mecampbellsoup commented on #116
@DiddiLeija how'd you do that cute footnote?! 😅

[2022-03-31 13:33] mecampbellsoup commented on #116
Do y'all set `pre-commit autoupdate` in your projects out of curiosity?

[2022-03-31 13:37] DiddiLeija commented on #116
https://github.blog/changelog/2021-09-30-footnotes-now-supported-in-markdown-fields/ :)

[2022-03-31 13:41] mecampbellsoup commented on #116
I cleared my pre-commit repo caches AFAIUI but still hitting the error:

[code]

I just removed the pinned `click` version from the `.pre-commit-config.yaml` section for `pycln`:

[code]

[2022-03-31 13:46] henryiii commented on #116
`pre-commit clean`?

Also, `pre-commit autoupdate` is not a setting, it just updates all the repos when you run it.

[2022-03-31 13:47] henryiii commented on #116
Most of my repos use pre-commit.ci, which runs `pre-commit autoupdate` once a week (can be set to monthly) and PRs the result if it changes.

[2022-03-31 13:48] mecampbellsoup commented on #116
You are a saint and a scholar!

[2022-04-04 18:15] CrossNox opened #117 "[FEATURE] Read from stdin"
In order to add `pycln` as an `ALE` fixer using `nvim`, IIRC, I'd need `pycln` to be able to format files from stdin.

Very much like `black` does:
[code]

Other than my niche use case, I think this would be a great addition for some other people.

[2022-04-05 16:18] hadialqattan commented on #117
Hi @CrossNox , it's a good idea, I will implement that as soon as possible...

I'm happy to see you around...Thank you.

[2022-04-07 18:18] MrBeeMovie opened #119 "[BUG] File Read Error When Running pycln"
**Description**
When checking the "project".pth file in virtual environment pycln is appending /__init__.py to the filename instead of the contents.

**To Reproduce**

1. Run:

within poetry created virtual environment that exists in project directory

2. Error traceback:

`  /Users/user/Documents/repos/repo/.venv/lib/python3.7/site-packages/repo.pth/__init__.py Permission denied [READ] [Errno 13]

[2022-04-08 20:26] hadialqattan commented on #117
@CrossNox if you don't mind, please try out the [i117](https://github.com/hadialqattan/pycln/tree/i117 ) branch and let me know if we are good to go.

[2022-04-08 23:00] hadialqattan commented on #119
Hi @MrBeeMovie, this is my first time facing the `.pth` files. Also, I believe this type of usage is very rare. I'll fix this issue as soon as possible, but for the time being, please consider using the `-a/--all` flag so Pycln would skip the part containing the broken code.

Thanks for reporting this issue. I'm happy to see you around.

[2022-04-09 17:12] MrBeeMovie commented on #119
No problem. Thank you for your hard work! I use poetry to manage the project's dependencies so I believe that is what creates this .pth file but not entirely sure. Thanks again!!!

[2022-04-09 20:57] #117 closed, assigned to nobody

[2022-04-10 22:00] #119 closed, assigned to nobody

[2022-04-11 01:18] CrossNox commented on #117
@hadialqattan looks great, thanks! (Sorry for the delay)

[2022-04-13 19:20] hadialqattan commented on #62
Hi @GameDungeon, I've implemented the feature, kindly, have a look at PR #121 and let me know If you have any suggestions (especially regarding the docs/helping message).

- [docs](https://github.com/hadialqattan/pycln/pull/121/files#diff-0b5ca119d2be595aa307d34512d9679e49186307ef94201e4b3dfa079aa89938)
- [helping message](https://github.com/hadialqattan/pycln/pull/121/files#diff-f28ec101cc5960df9

[2022-04-15 17:48] #62 closed, assigned to nobody

[2022-04-15 23:37] hadialqattan opened #122 "Version 1.3.0 is broken please upgrade to 1.3.1"
**Version 1.3.0 is broken please upgrade to 1.3.1 ...**

_Wait what?!_
I've added a new directory outside the `pycln/` directory called `vendor/`, and I forgot to include it in the final distribution.

_Then what?_
Pycln `v1.3.0` worked properly (locally) because the `vendor/` directory exists on my machine.

_Aha, tell more!_
As soon as I had published `v1.3.0` I realized that the `vendor/` direc

[2022-04-15 23:38] #122 closed, assigned to nobody

[2022-04-21 01:04] uptickmetachu opened #125 "[BUG] non-typing subscriptable types (e.g. Django's QuerySet) are not supported."
**Describe the bug**  Semi string type hints being removed when the type is not a built in type variable as defined in https://github.com/hadialqattan/pycln/pull/36/files

**To Reproduce** Steps to reproduce the behavior:

1. Take this code snippet:

[code]

2. Run this Pycln command:
[code]
3. Error traceback or unexpected output (if present):

[code]

4. Unexpected fixed code (if present):

[cod

[2022-04-21 16:59] hadialqattan commented on #125
Hi @uptickmetachu, this problem cannot be solved directly because there's no such a way to distinguish regular `dict` subscriptions from the type hinting subscriptables statically (as far as I know)...

(1)
[code]

(2)
[code]

(3) even worse
[code]

Therefore, there's no way to be 100% sure if it's a type-hint or a dictionary subscription using static analysis for each file individually (this is p

[2022-04-21 17:05] hadialqattan commented on #125
@uptickmetachu for now you can solve this problem by using one of the import skipping options:
- [Skipping a single import](https://hadialqattan.github.io/pycln/#/?id=import-skip)
- [Skipping a module/package/library globally](https://hadialqattan.github.io/pycln/#/?id=-skip-imports-option)

---
For the first option (in our case):
[code]
For the second option:
[code]

[2022-04-21 17:08] hadialqattan commented on #125
\+ if you didn't like both options, you can use `'QuerySet["Cat"]'` format instead of `QuerySet["Cat"]`.

[2022-04-21 17:15] hadialqattan commented on #125
@uptickmetachu I'm sorry for making it too long...

Anyway, in case you agree with the idea of adding Django's subscriptable types just like we did with typing's subscriptable, please let me know so we can work on it [if you don't mind] (I'm not a Django user).

[2022-04-21 22:43] uptickmetachu commented on #125
No worries @hadialqattan !

I'm very happy with your workaround.

Making the entire type string based as follows works perfectly. Mypy types it properly and pycln does not remove the import anymore. Thank you for your quick reply!

[code]

[2022-04-21 22:43] #125 closed, assigned to nobody

[2022-04-21 23:01] hadialqattan commented on #125
I'm glad I was able to help. Thanks for being around!

[2022-04-30 18:10] ornariece opened #136 "unexpected error on archlinux"
``/usr/lib/python3.10/lib-dynload/math.cpython-310-x86_64-linux-gnu.so/__init__.py Permission denied [READ] [Errno 13]``
hi, i'm getting this error, and the only thing i can tell is that ``/usr/lib/python3.10/lib-dynload/math.cpython-310-x86_64-linux-gnu.so`` is a file.
my user has permissions over this directory

[2022-04-30 18:35] hadialqattan commented on #136
Hi @ornariece, could you please provide me more info about the code you were trying to format? (a similar example)

[2022-04-30 18:36] hadialqattan commented on #136
Also, I need the command you wrote to run Pycln, please.

[2022-04-30 18:38] hadialqattan commented on #136
I need both info because the code example will provide me the case, while the command will tell me the thing that Pycln was trying to do.

[2022-04-30 19:10] ornariece commented on #136
yea i figured you were gonna ask for more info, but i don't have any really. i've isolated the problem, on a specific sub-package of my project (running a simple ``pycln sub-package_name`` command), but when running pycln on each file in that directory i don't get any error. only when running on the directory do i get the error (and i can't share the whole sub-package with you :/)

[2022-05-02 11:39] hadialqattan commented on #136
Kindly, try to use the `--all` flag and let me know weather the problem persist or not.

[2022-06-02 07:50] ewjoachim opened #139 "Python version compatiblity - docs ambiguity"
**Describe the issue**

There's an info I'd like to find in the docs, and I wasn't able to.
The documentation (and README) specify that the tool can run on Python 3.6 to 3.10. What it doesn't say is if it is also able to operate on code that is running with 3.6 to 3.10, and more importantly, if the version the tool runs on is required to be the same version as the version the codebase we use the t

[2022-06-02 18:20] hadialqattan commented on #139
Hi @ewjoachim, this is a good question. The short answer is that the most recent version of Python will always work with all possible code bases while some problems will appear when you use a version to run Pycln older than the code base's one.

In case you want to know the exact behavior of Pycln regarding using a different version to run Pycln other than the code base's one, Pycln uses `sys.vers

[2022-06-02 18:27] hadialqattan commented on #139
btw, @ewjoachim do you think having something like Black/Isort's `--python-version` in Pycln is needed?

_(I'm asking because I doubt that in our case we could/should add something like that)._

[2022-06-02 18:28] hadialqattan commented on #139
After telling your thoughts, at least I'm gonna add a note in the docs about that.

[2022-06-03 07:51] ewjoachim commented on #139
Yes, I'm not worried "per se" about specific issue, I'd say adding a note in the docs could be largely enough. Something along the lines of "Make sure the Python version you run pycln with is the same or more recent than the python version your codebase targets".

I'd say it's a safe bet at least for the next few years to consider that after `async / await` becoming keywords, we may not have a lot

[2022-06-03 08:36] hadialqattan commented on #139
A note has been added to the [usage section](https://hadialqattan.github.io/pycln/#/?id=usage). Thanks for your participation.

[2022-06-03 08:36] #139 closed, assigned to nobody

[2022-06-21 16:47] radoering opened #142 "[BUG] `pass` statement in `finally` removed causing syntax errors"
**Describe the bug** A clear and concise description of what the bug is.

Under certain circumstances, `pycln` removes `pass` statements, which can lead to syntax errors in code.
Seems similar to #99, however for `try`-`except`-`finally`.

**To Reproduce** Steps to reproduce the behavior:

1. Take this code snippet:

[code]

2. Run this Pycln command:
[code]
3. Error traceback or unexpected output

[2022-06-22 09:16] hadialqattan commented on #142
Hi @radoering, I've fixed this bug via PR #143.

Thanks a lot for being around and supporting the project.

[2022-06-22 10:20] #142 closed, assigned to nobody

[2022-06-22 12:51] hadialqattan commented on #142
Fixed in [v1.3.4](https://hadialqattan.github.io/pycln/#/CHANGELOG?id=_134-2022-06-22)

[2022-06-22 15:10] radoering commented on #142
Thank you for the quick fix. 👍 🚀

[2022-06-22 17:09] #136 closed, assigned to nobody

[2022-06-22 17:13] hadialqattan commented on #136
@ornariece, kindly, could you test the master branch against the same case?

[2022-06-30 19:10] raphCode opened #146 "[BUG] --check and --diff don't work together"
**Describe the bug**
The flags `--check` and `--diff` should work together, returning the correct exit code like with `--check` alone, and the diff output like with `--diff`.
This would replicate the behavior of tools like `black` and `isort` where both flags can be combined as expected. An application for this would be a pre-commit hook so that commits with unnecessary imports can be declined and

[2022-07-02 09:29] hadialqattan commented on #146
This is a good catch @raphCode!

[2022-07-02 09:34] hadialqattan commented on #146
@raphCode I'm working on a PR fixing this bug...

Thanks a lot for being around and supporting the project by reporting this bug.

[2022-07-03 05:31] #146 closed, assigned to nobody

[2022-07-03 20:32] adam-grant-hendry opened #148 "[FEATURE] Support for Stub (*.pyi) Files"
**Is your feature request related to a problem? Please describe.**
No

**Describe the solution you'd like**
Would it be possible to add support for stub (`*.pyi`) files?

**Describe alternatives you've considered**

[code]

**Additional context**
N/A

[2022-07-03 20:34] raphCode commented on #146
Thanks for the prompt fix and this project which keeps the imports clean on my projects! :)

[2022-07-03 20:40] adam-grant-hendry commented on #148
I forgot to set the `--include` option

#### pyproject.toml

[code]

[2022-07-03 20:40] #148 closed, assigned to nobody

[2022-07-04 04:03] adam-grant-hendry opened #149 "[FEATURE] Support for `PEP 484` Redundant Module/Symbol Aliases"
### Is your feature request related to a problem? Please describe.

[PEP 484](https://peps.python.org/pep-0484/#stub-files) states

[Pyright calls](https://github.com/pyvista/pyvistaqt/issues/163)

- `import A as A` a ***redundant module alias***
- `from X import A as A` a ***redundant symbol alias***

These imports are needed, but not actually used:

- per `PEP 484`, to allow static type checkers

[2022-07-04 13:42] hadialqattan commented on #149
Hi @adam-grant-hendry, first of all, I'm happy to see you around and supporting the project. Second, this feature request is accepted and will be added in the next release (perhaps today). Third, thanks for providing a regex, but Pycln is based on code AST analysis instead of regex, so now I'm trying to find a way to parse the AST of `.pyi` files that supports all the supported Python versions by

[2022-07-04 16:00] adam-grant-hendry commented on #149
@hadialqattan Thank you for your support!

That's wonderful! It would be great if it could be added today! Congratulations! 🎉

No problem at all. A regex was simply my first thought. I would be happy, personally, however it is implemented!

**Thank you and your team for this wonderful package!**

Question: How do you intend the feature will work? Will it be automatic, or will the user have to set

[2022-07-04 16:19] hadialqattan commented on #149
I think this should be automatic just like what pycln does with `.py` files, what do you think?

[2022-07-04 16:26] hadialqattan commented on #149
BTW, I'm not really familiar with `.pyi` files, but as far as I know (by reading [PEP484](https://peps.python.org/pep-0484/#stub-files)) there are no edge cases that are true for `.pyi` and not for `.py` files (regarding importing).

[2022-07-04 16:45] adam-grant-hendry commented on #149
That should be true, yes. AFAIK, the redundant nature (`A as A`) was intentional in `PEP 484` for this reason: 99.99% of imports that are doing an `import as` are usually trying to rename the import (e.g. `import numpy as np`). Historically, most linters (`flake8`, `pylint`, etc.) would flag an `import A as A` as a kind of "useless-import" or "does not rename the import"; something to that effect.

[2022-07-04 16:52] adam-grant-hendry commented on #149
As an alternative, for backwards compatibility, you could optionally add a CLI argument

[code]

so users can opt-in or opt-out of the feature.

[2022-07-04 16:58] adam-grant-hendry commented on #149
Lastly, I think it is VERY IMPORTANT to add a small bit of documentation explaining the new behavior.

`PEP 484`  is still not known by most people, so they might get confused that something their linter (`flake8`/`pylint`/etc.) previously flagged as "useless" or "not renaming anything" was kept by `pycln`.

It could be as simple as saying

[2022-07-04 18:14] hadialqattan commented on #149
I see your point, but I think that PEP484 is old enough to be the default behavior without an opt-out arg. Moreover, this feature is totally safe because it's about skipping certain types of imports (not removing them) which can't break users' programs.

[2022-07-04 18:19] hadialqattan commented on #149
Also, for simplicity, I believe that CLI tools should be default-first instead of having too many CLI arg that users should use.

[2022-07-04 18:22] hadialqattan commented on #149
For sure. Thanks a lot for the suggested note ❤️.

[2022-07-04 18:46] #149 closed, assigned to nobody

[2022-07-04 18:47] hadialqattan commented on #149
@adam-grant-hendry if you don't mind, could you test the master branch before creating a new release?

[2022-07-04 21:31] adam-grant-hendry commented on #149
@hadialqattan Completely agree with you on all points. Thank you so much for this!

I can test early tomorrow as I am spending time with family right now for the 4th of July.

To clarify, would you like me to write unit tests or just confirm it works on my machine?

[2022-07-05 05:16] hadialqattan commented on #149
Happy Treason Day!

Only confirming it works on your machine the way you meant it to be.

[2022-07-05 15:19] adam-grant-hendry commented on #149
I'll get started on this right now 😃

[2022-07-05 16:27] hadialqattan commented on #149
Bro plz don't bother yourself thinking of every possible edge case, I mean you could test it only against the file(s) that you wanted to cleanup so you opened this issue 🌚

[2022-07-05 17:09] adam-grant-hendry commented on #149
😆 Thank bro! I ran the `master` branch on my files and confirm it's working as I expected!

[2022-07-05 17:10] adam-grant-hendry commented on #149
@hadialqattan Please bump up the version~ 🎉 🥳

[2022-07-05 17:41] hadialqattan commented on #149
[v2.0.1](https://github.com/hadialqattan/pycln/releases/tag/v2.0.1) has been released 🎉!

[2022-07-13 14:54] AlexWaygood opened #152 "[BUG] `from foo import *` imports should be ignored in stub files"
Hi!

I see `pycln` recently added support for `.pyi` files. That's awesome!

I'm interested in possibly using `pycln` in typeshed's CI. However, it seems like there's one part of [PEP 484](https://peps.python.org/pep-0484/#stub-files) that `pycln` isn't quite compliant with when it comes to stub files, namely this:

If I run `pycln` on typeshed at the moment, it erroneously deletes a large number

[2022-07-13 16:25] hadialqattan commented on #152
Hi @AlexWaygood, this is a good catch.. actually, I planned to implement this within PR #150 but forgot to do so.

[2022-07-13 16:32] hadialqattan commented on #152
@AlexWaygood after doing some investigation, your patch looks good to me, so please open a PR, and I'll help you finalize it even if you are unsure where/how to write the unit tests.

[2022-07-13 16:35] hadialqattan commented on #152
\+ @AlexWaygood  I'm really happy to see you supporting the project. Thanks a lot bro!

[2022-07-13 16:36] AlexWaygood commented on #152
Thank you for the very cool tool!

[2022-07-13 17:47] #152 closed, assigned to nobody

[2022-07-13 18:09] hadialqattan commented on #152
@AlexWaygood I've just published a new release including the fix for this bug: [v2.0.2](https://hadialqattan.github.io/pycln/#/CHANGELOG?id=_202-2022-07-13).

[2022-07-13 18:10] AlexWaygood commented on #152
Awesome, thanks so much for your help!

[2022-07-14 17:42] Kaelten opened #154 "[BUG] Type checking import removed when with library generic types"
**Describe the bug**

When using a library with a generic type (in my case sqlalchemy's `Mapped` type) pycln is removing in-use type checking imports.

I've tested with a few variations, here's what I found:
*  `'OtherClass'` works fine
* `dict['OtherClass']` works fine
* `Mapped['OtherClass']` is not recognized and the import is removed

**To Reproduce** Steps to reproduce the behavior:

I've tak

[2022-07-16 15:07] hadialqattan commented on #154
A good catch @Kaelten!

This bug should've been fixed before in PR #36, but, unfortunately, the approach was partially wrong (only supports the built-in type annotations).

[2022-07-16 15:10] hadialqattan commented on #154
\+ @Kaelten thanks for supporting the project by reporting this bug 🌹.

[2022-07-16 16:26] #154 closed, assigned to nobody

[2022-07-16 16:27] hadialqattan commented on #154
@Kaelten if you don't mind, could you test the main branch against your case?

[2022-07-17 04:46] Yokozuna59 opened #157 "Typo: wrong `CHANGELOG.md` links in `docs/CONTRIBUTING.md`"
In [docs/CONTRIBUTING.md](https://github.com/hadialqattan/pycln/blob/master/docs/CONTRIBUTING.md) line [119](https://github.com/hadialqattan/pycln/blob/master/docs/CONTRIBUTING.md?plain=1#L119), the link of `CHANGELOG.md` isn't same as it's should be, it's just `CHANGELOG` rather than `CHANGELOG.md`, which redirect the user to undefined GitHub page.

[2022-07-17 11:15] hadialqattan commented on #157
@Yokozuna59 I'm happy to see you supporting the project... a PR for fixing this typo is most welcome.

[2022-07-17 11:18] hadialqattan commented on #157
BTW, a simple and quick PR here is more than enough. No need for reading the contribution guidelines for a typo fix.

[2022-07-17 15:58] #157 closed, assigned to nobody

[2022-07-18 12:13] sdebruyn opened #161 "[BUG] 2.0.3 update causes 'Tuple' object has no attribute 'value'"
After the update from 2.0.2 to 2.0.3 I get 100+ errors mentioning `'Tuple' object has no attribute 'value'`
The code with the error doesn't have any tuples, however its imports do have an `from typing import Tuple`

Python 3.9, ubuntu 20.04

[2022-07-18 16:30] Kaelten commented on #154
@hadialqattan I've tested with 2.0.3 and I no longer get the file removed, however pycln now is erroring for me as described in #161

[2022-07-18 16:31] Kaelten commented on #161
I'm seeing this with both `Tuple` and `Name` in multiple files in my project.  However, I'm not even seeing those keys in the files

[2022-07-18 16:48] Kaelten commented on #161
I've worked up a simple reproduction case:

It appears that the fixes to allow generic types to work better now have an issue if you don't use a string in the generic type definition.

This generates the error ` 'Name' object has no attribute 'value'`:

[code]

This works fine:
[code]

If you do the below you get `'BinOp' object has no attribute 'value'`

[code]

I've not figured out exactly what

[2022-07-18 17:12] hadialqattan commented on #161
Hi, I'm so sorry for that...this issue is under investigation right now. Thank you both @sdebruyn for reporting the issue and @Kaelten for giving further details.

[2022-07-18 17:20] hadialqattan commented on #161
After investigating, this seems to be related to some `ast` module changes in Python3.9+...

[2022-07-18 17:20] hadialqattan commented on #161
I'll fix it as soon as possible and release v2.0.4...

[2022-07-18 17:22] Kaelten commented on #161
Thanks for the prompt engagement on both this and my last report! :)

[2022-07-18 17:37] hadialqattan commented on #161
https://github.com/hadialqattan/pycln/blob/d1ac94fd9fa743d9570e6268a3f94c6bee1d8ece/pycln/utils/scan.py#L381-L396

It's line 394.

[2022-07-18 17:40] hadialqattan commented on #161
actually using the else statement in line388 and 394 is a really bad idea 😓

[2022-07-18 17:50] Kaelten commented on #161
I almost always wonder wtf past me was thinking when I'm bug fixing <_<

[2022-07-18 17:54] hadialqattan commented on #161
That always happens, actually, this time I've well tested the edge cases but I've missed the normal/main one 😂.

[2022-07-18 17:54] hadialqattan commented on #161
@Kaelten if you don't mind, could you double-check my fix? PR #162

I mean running it against some possible edge cases (if any).

[2022-07-18 19:02] hadialqattan commented on #161
for now, I'll merge the PR and create a new release so this issue affects fewer projects. in case you have any updates please let me know.

\+ Thanks a lot for your support.

[2022-07-18 19:05] #161 closed, assigned to hadialqattan

[2022-07-18 20:44] Kaelten commented on #161
@hadialqattan I've tested 2.0.4 against my project and both #161 and #154 are looking good.  Thanks again!

[2022-07-22 05:29] KotlinIsland opened #163 "(📚) Add a pronunciation guide to the readme"
Is it "py clean"?

[2022-07-22 05:43] hadialqattan commented on #163
It's "py-klin". Thanks for the suggestion, but isn't it too much to add a pronunciation to the docs? 😅

[2022-07-22 05:46] KotlinIsland commented on #163
Personally when I see a project with an ambiguous name the very first thing I do is want to know how to pronounce it. I've seen other projects that have a pronunciation guide.

[2022-07-22 07:54] hadialqattan commented on #163
If you don't mind, could you open a PR adding Pycln's pronunciation wherever you think it should be?
(we have two different `README.md` files, one at the root dir (for GitHub) and another in the `docs/` dir (for docs pages)).

BTW, you don't have to go throw the contribution guidelines for such a PR, open it the way you want and I'm gonna help you finalize it.

\+ Thanks a lot for supporting the p

[2022-07-27 06:15] Goldziher opened #164 "[BUG] Crash when encountering unknown toml"
Hi there,

We are adding rust bindings in a branch of our repository. In this branch the `pycln` tool goes ape-shit when it encounters the `cargo.toml` file:

[code]

I am not able to bypass this by having pre-commit exclude the rust bindings path for the plugin, e.g. like so:

[code]

So I assume this is some toml loading in the tool.

[2022-07-27 18:01] hadialqattan commented on #163
I'm gonna close this issue as it's not mandatory, please feel free to open a PR if you want to.

[2022-07-27 18:01] #163 closed, assigned to nobody

[2022-07-27 18:32] hadialqattan commented on #164
@Goldziher

This is weird!

(1) Pycln shouldn't open any file that's not a `.py`/`.pyi` file except for (2) and (3).
(2) It opens configuration files which must be specified explicitly via `--config`.
(3) `.gitignore` files when `--no-gitignore` wasn't used.

I tried to make Pycln raise the same error but couldn't. I've added a real `cargo.toml` file and used it as a config file.. everything was f

[2022-07-27 18:34] hadialqattan commented on #164
@Goldziher If you don't mind, could you provide me the `cargo.toml` file?

[2022-07-27 18:52] Goldziher commented on #164
Its this branch - the .pre-commit.yaml has pycln commented out. Try it out --> https://github.com/starlite-api/starlite/tree/rust-bindings

[2022-07-27 20:04] hadialqattan commented on #164
@Goldziher, apparently it's a problem with the `toml` library itself.

The `toml` library that Pycln uses does not support [this change](https://github.com/toml-lang/toml/pull/676) until now (allowing mixed types in arrays/lists).

So, as a quick fix try to use something like this:
[code]
(inline command line args instead of using a config file).

[2022-07-27 20:10] hadialqattan commented on #164
I'll try to figure out how `poetry` bypassed this issue.

[2022-07-27 20:15] hadialqattan commented on #164
It seems like the toml library that Pycln uses does not support toml v1.0.0 which allowed the mixing of different datatypes in arrays. So I'll consider moving to `tomlkit` which supports toml v1.0.0!

[2022-07-28 01:02] Goldziher commented on #164
I appreciate the rapid response. Lemme know when to update to the new version and I'll test.

[2022-07-28 06:09] #164 closed, assigned to nobody

[2022-07-28 09:28] hadialqattan commented on #164
@Goldziher

I've released v2.1.1 so now toml v1.0.0 is supported!

[2022-08-04 10:07] Goldziher opened #166 "[FEATURE] pycln doesn't clean __init__.py files that lack __all__ dunder."
Hi,

So I have an `__init__.py` file with a bunch of unused imports and another file in the same test folder that also has a bunch of missing imports. The regular test file is cleaned, but the `__init__.py` file is not cleaned.

I see the docs regarding the `__all__` dunder. I think this should be configurable. If my pyproject.toml has:

[code]

It should clean all files. Alternatively this could

[2022-08-29 00:54] Bobronium opened #167 "[FEATURE] Add scope analiythis"
### Thesis
pycln should perform scope analythis and remove unused imports accordingly.

### Reasoning
This would be consistent with flake8, pylance and PyCharms behaviour in identifying unused imports.

autoflake and unimport are able to remove them as well

<img width="224" alt="image" src="https://user-images.githubusercontent.com/36469655/187102815-727e0fdc-0840-4ee3-8588-2540a2c2811c.png">

`c

[2022-09-17 12:09] Goldziher opened #169 "[BUG] cleaned imports used in generics and wrapped in string"
[code]

In the above example the import in the `TYPE_CHECKING` block will be removed.

[2022-09-18 17:15] hadialqattan commented on #169
@Goldziher thanks for reporting this bug, I'll look into it asap.

[2022-09-18 17:18] hadialqattan commented on #166
Hi @Goldziher again, the explicit option looks good to me. I'll implement that asap.

\+ I'm sorry for the late response. Thank you for your patience.

[2022-10-06 12:30] gboutry opened #172 "[BUG] fails removing unused import when in a tuple"
**Describe the bug** pycln fails to remove unused imports if they are in a tuple

**To Reproduce** Steps to reproduce the behavior:

1. Take this code snippet:

[code]

2. Run this Pycln command:
[code]
3. Error traceback or unexpected output (if present):

[code]

4. Unexpected fixed code (if present):

[code]

**Expected behavior**:

1.  Description: A clear and concise description of what you e

[2022-11-01 22:54] AlexisFetet opened #173 "[FEATURE] Release on conda-forge"
Currently setting pycln in conda environments requires to use pip, which reduces interoperability.

pre-commit with conda requires dependancies to be available with [conda install](https://github.com/pre-commit/pre-commit/blob/5840635baa7642a2be4e1de335f7ba9df2a7bc7b/pre_commit/languages/conda.py#L81).

Pycln can only be installed for pre-commit with the environment.yml file, which does not allow

[2022-11-02 13:26] hadialqattan commented on #173
Thank you for the suggestion. I'll work on this as soon as I get time for Pycln 👍🏻.

[2022-11-02 18:35] hadialqattan commented on #173
UPDATES: I've created a recipe PR for adding Pycln to the conda-forge channel [[see PR#20969](https://github.com/conda-forge/staged-recipes/pull/20969)].

[2022-11-03 16:32] hadialqattan commented on #172
@gboutry Thanks for reporting the issue. Clearly, the issue was with `LibCST >=0.4.1` and `Python 3.6`.

[2022-11-03 18:04] AlexisFetet commented on #173
Thanks for the quick PR, I see it's just missing the validation from maintainers 👍

[2022-11-04 10:14] #172 closed, assigned to hadialqattan

[2022-11-04 14:14] hadialqattan commented on #166
Hi again @Goldziher, I've created a PR (#175) for adding a flag for disabling this policy. Please let me know if the added flag meets your expectations/requirements.

Thank you for your patience.

[2022-11-05 13:14] #166 closed, assigned to nobody

[2022-11-07 13:31] gboutry commented on #172
@hadialqattan It works as expected in python 3.6, thank you very much!

[2022-11-07 16:22] #169 closed, assigned to nobody

[2022-11-07 16:25] hadialqattan commented on #169
Hi again @Goldziher, I've fixed this bug, and the fix will be available in the next release. Thanks again!

[2022-11-07 19:07] Goldziher commented on #169
awesome

[2022-11-07 19:08] Goldziher commented on #169
@hadialqattan -- may i suggest, lint for redundant pycln ignore comments and redundant noqa comments that affect it.

[2022-11-08 18:09] #173 closed, assigned to nobody

[2022-11-09 10:56] williamjamir opened #179 "Release new version with different upper limit for typer package"
I'm currently using pycln 2.1.1, which has an upper limit to typer for version 0.6.

Would it be possible to release a new version of pycln, which supports typer v0.7?
(I saw that the PR was already merged, only needs a new version).

Also, just out of curiosity, why pycln cannot have the typer package version set as ">=0.4.1" only?

[2022-11-09 11:38] hadialqattan commented on #179
Luckily, a new version is scheduled today (`v2.1.2`)... I'm setting an upper limit to ensure that newer versions are compatible before letting the users use them.

[2022-11-09 11:39] hadialqattan commented on #179
I'll close this issue as soon as I release the next version. Please feel free to continue the discussion.

[2022-11-09 12:08] hadialqattan commented on #179
`v2.1.2` has been released and it contains the fix.

[2022-11-09 12:08] #179 closed, assigned to nobody

[2022-11-09 13:17] hadialqattan commented on #169
@Goldziher -- Sure, do you mean something like `--ignore-noqa-comments`?

[2022-11-09 13:17] hadialqattan commented on #169
if so, could you suggest a better flag name? (if any)

[2022-11-09 13:21] Goldziher commented on #169
i meant something like raise an error if a `noqa` comment is not required. There is such a setting in `flake8`, `pylint` and `mypy`

[2022-11-29 19:46] hadialqattan commented on #173
Hi again @AlexisFetet, the [PR](https://github.com/conda-forge/staged-recipes/pull/20969) has been merged. Now [Pycln is available on conda-forge](https://github.com/conda-forge/pycln-feedstock)!